[2016-10-28 22:12] jacobmoretti opened #2 "Potential Features to Support"
There are a few other features that the LaunchDarkly js-client provides. This issue is mostly to provide a single-point of lookup for listing these features and having a discussion on whether or not we should support them.

- [Listening to flag change events](https://github.com/launchdarkly/js-client#listening-to-flag-change-events)
- [Secure mode](https://github.com/launchdarkly/js-client#secure-

[2016-12-17 01:48] jacobmoretti opened #5 "Integrate Travis CI"
We should get Travis CI integrated for checks on PR and auto-building/publishing to NPM.

[2016-12-28 19:21] jacobmoretti commented on #5
__Closed__ PR https://github.com/TrueCar/react-launch-darkly/pull/7 for reference.

[2016-12-28 19:21] #5 closed

[2017-01-20 21:08] jacobmoretti opened #11 "Code Coverage"
+ Add code coverage report generation
+ Ensure current code coverage is at least 95%
   + Add additional test cases if needed

[2017-01-20 21:15] jacobmoretti opened #12 "Multivariate Flags"
Currently our `FeatureFlag` component only supports simple `boolean` flags. We need to extend the support to multivariate flags: http://blog.launchdarkly.com/tag/multivariate-feature-flags/

To-do:
+ Add support to the `FeatureFlagRenderer` component
+ Add support of multivariate keys within our query overrides function `ldOverrideFlag`: https://github.com/TrueCar/react-launch-darkly/blob/master/s

[2017-01-27 09:19] olya646 opened #13 "Listening to flag change events"
The client uses an event emitter pattern to allow you to subscribe to feature flag changes in real time.

https://github.com/launchdarkly/js-client#listening-to-flag-change-events

[2017-01-27 09:20] olya646 opened #14 "Secure mode"
Secure mode ensures that feature flag settings for a user are kept private, and that one user cannot inspect the settings for another user.
https://github.com/launchdarkly/js-client#secure-mode

[2017-01-27 09:21] olya646 opened #15 "Bootstrapping flags"
Bootstrapping refers to providing the LaunchDarkly client object with an initial, immediately available set of feature flag values so that on page load variation can be called with no delay.
https://github.com/launchdarkly/js-client#bootstrapping

[2017-01-30 10:05] mike866 opened #16 "Add example project."
We should include example project. Just a simple project to show implementation details.

[2017-01-30 15:30] sethbattin commented on #16
I agree.  Using this component is complicated by needing an account key in order for the external service to work correctly.  But I would expect that anyone attempting to use the react component is willing to also use the service itself.

There's an example usage here:  https://github.com/TrueCar/react-launch-darkly/pull/6.  The config file setting `launchDarkly.clientId` is what would need to be

[2017-02-02 00:03] jacobmoretti commented on #11
__Closed__ Implemented by https://github.com/TrueCar/react-launch-darkly/pull/18

[2017-02-02 00:03] #11 closed

[2017-02-02 09:44] olya646 opened #19 "Add more tests"

[2017-02-03 19:09] jacobmoretti commented on #12
__Closed__ Added by https://github.com/TrueCar/react-launch-darkly/pull/17

[2017-02-03 19:09] #12 closed

[2017-02-03 19:10] jacobmoretti commented on #2
__Closed__ Each of these features have been split out into separate issues

[2017-02-03 19:10] #2 closed

[2017-03-16 01:04] jasonm23 opened #21 "Avoid using react-broadcast (or make a flux / redux compatible)"

[2017-03-17 05:57] jacobmoretti commented on #21
@jasonm23 Thanks for the suggestion! This is definitely something I've been thinking about. It will be something we need to move towards in order to tackle: #15

[2017-05-23 19:28] jacobmoretti opened #28 "Add Code Coverage Report"
We should add a code coverage report to determine whats missing and maintain a minimum threshold of coverage percentage.

[2017-05-23 19:28] jacobmoretti commented on #19
Closing this in favor of https://github.com/TrueCar/react-launch-darkly/issues/28

[2017-05-23 19:28] #19 closed

[2017-05-23 19:31] jacobmoretti commented on #21
@jasonm23 After thinking about this more, we probably won't be moving forward with using a dependency like redux any time soon. Even for supporting a feature such as bootstrapping flag values, redux is over-kill. In terms of avoiding react-broadcast for our use-case, do you mind elaborating on why?

[2017-05-23 23:32] jasonm23 commented on #21
The primary motivation for this suggestion was to make components that used react-launch-darkly easier to test.  In particular, when building "sociable" tests. (i.e. small scale integration test of related components.  In contrast to end to end testing)

That said ensuring that the launch darkly feature switching was operational would be unnecessary usually (low value test.)

Faking/Mocking out la

[2017-05-23 23:32] #21 closed

[2017-05-24 05:36] jacobmoretti commented on #21
Thanks for the reply!

I'm definitely curious about your use case though. We haven't even tagged a version 1 of this library yet, mostly been outlining and solving our internal use-cases first. But we're always looking for outside feedback to getting it to a stronger and well-poised v1.

[2017-05-24 07:11] jasonm23 commented on #21
So for my project it was decided that we'd implement our own wrapper of ldclient.

It worked better for our flux based architecture (p-flux)

Using this technique it removed the need for a component to manage LD.

[2017-07-19 21:26] mishkinf opened #31 "How does one test code leveraging FeatureFlags?"
How does one test code leveraging FeatureFlags? Does it make the calls to Launch Darkly when running tests? It would be useful to have an example in the Readme.

[2017-07-27 06:41] jasonbarry opened #32 "react-broadcast dependency means this repo will not be compatible with React 16"
[react-broadcast](https://github.com/ReactTraining/react-broadcast) still uses PropTypes, which was deprecated in React 15.5 and will be removed in React 16 (which just [came into beta](https://github.com/facebook/react/issues/10294)).

I'd file a bug on the react-broadcast repo, but they don't accept issues, which is equally alarming.

I'd suggest removing the react-broadcast dependency from this

[2017-08-09 02:23] threehams commented on #32
React.PropTypes is deprecated and will be removed in favor of the prop-types library. react-broadcast was updated to use the new dependency months ago:
https://github.com/ReactTraining/react-broadcast/pull/31

The decision to disable issues isn't one I agree with, but it's not alarming or uncommon.

react-broadcast provides a generalized way of broadcasting context updates rather than having them

[2017-08-09 02:43] threehams opened #33 "Expose a higher-order component version of FeatureFlag."
The current API uses a component and callback which essentially forces the use of a class component. This is fine for smaller changes, but it doesn't compose well with other React HOC-based libraries.

An example with code splitting and conditional data fetching:
[code]

This can allow the A/B test to be completely transparent to the wrapped component, and it can be easily added or removed without

[2017-09-09 00:28] RovingCodeMonkey commented on #31
I second this. I am having many headaches creating Component tests when the component contains a feature flag.

[2017-09-12 21:00] sikka opened #35 "How to set the base Url for launchdarkly?"
We have our own instance at our company. I have to set the url to "https://app.abc.launchdarkly.com". How do I do that?

[2017-09-26 23:48] jacobmoretti commented on #35
I wasn't even aware this feature was supported by the js ldclient. It's undocumented on their end but digging through their source, it seems they accept options to define `baseUrl`: https://github.com/launchdarkly/js-client/blob/master/src/index.js#L241

Currently this isn't supported, but you're welcome to submit a PR. I can point you in the general direction for this:
- [`ldClientWrapper`](https

[2017-09-26 23:50] jacobmoretti opened #41 "Support setting `baseUrl` when initializing `LaunchDarkly`"
LaunchDarkly offers in-house instances to some customers. In order to support this, we'd need to open our ld client initialization to accept an `options` arg where `baseUrl` is defined.

## Potential Implementation
`options` arg:
https://github.com/launchdarkly/js-client/blob/master/src/index.js#L241

- [`ldClientWrapper`](https://github.com/TrueCar/react-launch-darkly/blob/master/src/lib/utils.js

[2017-09-26 23:51] jacobmoretti commented on #35
__Closed__ See https://github.com/TrueCar/react-launch-darkly/issues/41

[2017-09-26 23:51] #35 closed

[2017-09-27 07:28] jasonbarry commented on #32
Dropping in React 16 into my project points to an error from react-broadcast:

<img width="469" alt="screen shot 2017-09-27 at 12 23 59 am" src="https://user-images.githubusercontent.com/236451/30900875-743a526c-a31a-11e7-89e0-a2d0f0143cdb.png">

[2017-09-27 16:55] jacobmoretti commented on #32
Looks like we need to update react-broadcast, we're on an older version in this project.

[2017-09-27 21:50] jacobmoretti commented on #32
Hoping to resolve this with: https://github.com/TrueCar/react-launch-darkly/pull/42

[2017-09-27 21:58] jacobmoretti commented on #31
@mishkinf & @RovingCodeMonkey Can you guys give an example of what you'd like to test? For the most part, you shouldn't need to test the functionality of react-launch-darkly and its components. If you have callbacks that you want to test the behavior of, it should be simple enough to just call those individually.

Or you can pluck the prop from `FeatureFlag` and call it:
[code]

[2017-09-27 22:12] RovingCodeMonkey commented on #31
The above solution is the one I ended up at.

Where it mostly causes issues is when a component ends up wrapped in a feature flag and then all of the tests for parent components start failing if they are checking the original.
I was trying to find a way to get it to render default if nothing was provided.

Not the end of the world, just requires re-writing the wrapping test cases.

[2017-09-27 22:27] jacobmoretti commented on #32
@jasonbarry Just pushed out a new release to npm: https://github.com/TrueCar/react-launch-darkly/releases/tag/v1.0.0 Can you see if this fixes your issue?

[2017-09-27 22:29] jasonbarry commented on #32
@jacobmoretti I'll give this a try tonight! Thanks

[2017-09-29 16:29] jasonbarry commented on #32
@jacobmoretti it works! Thanks so much 🎉

[2017-09-29 16:29] #32 closed

[2017-10-10 21:55] sikka commented on #41
@jacobmoretti  - can you please review the PR above?

[2017-10-12 01:17] jacobmoretti commented on #15
Will be resolved by https://github.com/TrueCar/react-launch-darkly/pull/45

[2017-10-12 01:17] jacobmoretti commented on #14
Will be resolved https://github.com/TrueCar/react-launch-darkly/pull/45

[2017-10-12 01:18] jacobmoretti commented on #41
Will be resolved by https://github.com/TrueCar/react-launch-darkly/pull/45

[2017-10-12 01:18] #41 closed

[2017-10-12 01:18] #15 closed

[2017-10-12 01:18] #14 closed

[2017-10-17 16:51] jacobmoretti commented on #31
@RovingCodeMonkey In Jest, its pretty simple to mock any module. You could in theory just mock the `FeatureFlag` component and have it do whatever you want:
[code]

[2017-10-20 22:34] jacobmoretti commented on #13
__Closed__ See https://github.com/TrueCar/react-launch-darkly/pull/49

[2017-10-20 22:34] #13 closed

[2017-10-28 00:20] jacobmoretti opened #54 "Refactor lib/utils.js"
Refactor `lib/utils.js` by abstracting out each of the functions into separate files and placed under `lib`:
- `getLocation`, I believe this was only added to allow easier mocking. We should be able to do away with this and fix the tests that relied on it.
- `ldClientWrapper` -> `ldClientWrapper.js`
- `ldOverrideFlag` -> `ldOverrideFlag.js`
- `getAllFeatureFlags` -> `getAllFeatureFlags.js`

[2017-10-29 22:37] GarretLefler commented on #54
I can help with this.

[2017-10-30 16:59] jacobmoretti commented on #54
@GarretLefler Thanks for offering to lend a hand with this issue! Unfortunately there isn't a great a way to do an end-to-end test without an account with LaunchDarkly. Its also part of the reason why https://github.com/TrueCar/react-launch-darkly/issues/16 hasn't been completed yet.

Feel free to submit your PR and use the unit-tests as the measurement for now. I'll do some testing of your change

[2018-01-17 10:25] balpal4495 opened #58 "Is there a way to get all feature flags for a user ?"
i know that there is a function called `getAllFeatureFlags` in the utils file, but this doesn't seem to be working correctly.

[2018-01-18 16:32] jacobmoretti commented on #58
Hi @balpal4495, sorry for the late response. Can you show me your current usage of `getAllFeatureFlags`? We currently use that function at TrueCar and it works as expected for us.

Just to add, `getAllFeatureFlags` does require the args `key, user`, `key` being your LaunchDarkly client ID and `user` being the LaunchDarkly `user` object as defined here: https://docs.launchdarkly.com/docs/js-sdk-ref

[2018-01-19 17:17] balpal4495 commented on #58
@jacobmoretti Thanks for your response, I was trying to  use getAllFeatureFlags by wrapping it in a an async/await function within my react component. and passed the user and key to it in the parameters, but i simply get getting back an empty object.

[2018-01-22 16:32] laij84 opened #59 "RenderFeatureCallback does not fire for false feature flags"
I have setup a simple boolean feature, true = return blue button, false = return red button. If i configure the default rule to return the true variation (blue button), it works. However if I configure the default to serve the false variation (red button), the callback does not seem to fire at all. How can I get this to work?

[2018-01-22 16:36] jacobmoretti commented on #59
Hi @laij84, you'll want to look at using the `renderDefaultCallback` prop: https://github.com/TrueCar/react-launch-darkly#renderdefaultcallback--function-optional. Let me know if that works for you, thanks!

[2018-01-22 16:46] laij84 commented on #59
Hi Jacob,

Thanks that did the trick.

[2018-01-22 16:59] jacobmoretti commented on #59
Awesome glad to hear that. Closing this issue since its been resolved.

[2018-01-22 16:59] #59 closed

[2018-01-26 15:35] balpal4495 commented on #58
so i would be using it in this way.

[code]

This just returns back an empty object

[2018-01-26 16:02] jacobmoretti commented on #58
`getAllFeatureFlags` takes two args: https://github.com/TrueCar/react-launch-darkly/blob/master/src/lib/utils.js#L82

The first argument needs to be your LaunchDarkly client id. Second argument is the `user` object.

[2018-01-26 16:55] balpal4495 commented on #58
So i tried that and it didn't seem to make any difference.
[code]

I receive a <Pending> promise, and if i check the the response from .then I simple receive an empty object.

I checked the docs on launchdarkly , and they specify that a user is sent as a parameter to get allFlags.

so should the user object not be added to the params on this line https://github.com/TrueCar/react-launch-darkly/blob

[2018-01-26 17:26] balpal4495 commented on #58
ok, never mind that, i figured it out.

i was using using a user id for the key and it should have been like this.

solution if anybody is stuck on the same issue.
[code]

[2018-01-26 18:15] jacobmoretti commented on #58
Ahh yes that would be a problem. Those two args are described here: https://github.com/TrueCar/react-launch-darkly#props. At the moment `getAllFeatureFlags` is undocumented, mostly because I've been trying to come up with a solution for it where you don't have to pass the client id and user object.

[2018-01-26 18:19] jacobmoretti commented on #58
Closing this issue as its been resolved.

[2018-01-26 18:19] #58 closed

[2018-01-26 18:22] jacobmoretti commented on #31
Closing this issue for lack of activity.

[2018-01-26 18:22] #31 closed

[2018-03-09 05:34] breeny opened #60 "Supporting changing user context"
Is this something on the roadmap or currently supported? Looking to support both anonymous and logged in feature toggling with this. Thanks!

[2018-03-13 16:46] jacobmoretti commented on #60
So far we haven't needed this functionality at TrueCar but I can definitely look into adding it this week. I'm also more than willing to look at a PR if you wanted to take a stab at it.

For some direction, I'd take a look at how the [getAllFeatureFlags()](https://github.com/TrueCar/react-launch-darkly/blob/master/src/lib/utils.js#L82-L89) function is setup. Its just a thin wrapper around [LaunchD

[2018-04-02 20:51] peterbee opened #62 "Gracefully handle uninitialized Launch Darkly and failed initialization"
In order to decouple A/B tested components from `<LaunchDarkly>` initialization, it would be great to have `<FeatureFlag>` gracefully handle uninitialized LD.  (It would log a warning, of course.)

Similarly, if `<LaunchDarkly>` does not initialize correctly (e.g., with a connection error or account error), it makes sense to log a warning and not crash the application.

[2018-04-03 06:26] jacobmoretti commented on #60
@breeny Wanted to give an update on this, haven't had a chance to squeeze this one in. Unfortunately this has been on the bottom of the priorities for this repo. Hoping to get this one in the next week or so.

[2018-04-05 18:54] peterbee opened #63 "Components fail when server-rendered"
Server rendering is broken by attempting to use `XMLHttpRequest` in a non-browser environment.

Is this something that should be considered in these components?  I can create a bunch of conditionals that only add these components when running in a browser, so I'm not sure if the responsibility should fall on the component or on the developer consuming it.

[2018-04-05 18:57] peterbee commented on #63
Never mind, just found the SSR support in the docs.

[2018-04-05 18:57] #63 closed

[2018-04-09 20:00] peterbee opened #64 "Is there a way to disable the 'change' listener?"
`FeatureFlagRenderer` automatically creates a listener for feature flag changes.  This can create a negative experience in some features (if the feature changes — or disappears — while a user is in the middle of doing something).

Would it make sense to have an option to disable this?

https://github.com/TrueCar/react-launch-darkly/blob/b99c6fd894bf593b186b8c799240dda5aee95d34/src/components/Featu

[2018-04-09 20:17] sethbattin commented on #64
@peterbee can you elaborate a bit about your use case?  Are the flag changes frequent, and what activities are they disrupting?  Under what circumstances do you want to update flags (other than in-browser)?  Are you using server rendering?

[2018-04-10 01:32] sethbattin commented on #64
Ah, fair enough, I would have recommended the serverside-only solution of `clientOptions.disableClient`  if that were part of your usage.  Most of my experience with solving this issue is by using SSR to control the change.  That, and features being either so small to be unnoticeable (default checked/unchecked), or so large that it would be impossible to swap them (whole routes).  So this kind of

[2018-04-11 14:10] peterbee commented on #64
@sethbattin Thanks for walking through your use cases.  It certainly raises a lot of other circumstances that are not easily resolved in the FeatureFlag component.  Now I'm wondering if that component should have the responsibility of disabling the change listener.

As an alternative, I could use the HOC pattern to pass raw flag data into a child component and explicitly manage any flag updates th

[2018-04-11 18:03] peterbee commented on #33
This is quite limited because it only allows for a single flag to be passed in, but it reuses the current `FeatureFlag` component to accomplish an HOC:

[code]

Thoughts?

[2018-04-12 15:12] sethbattin commented on #33
Thanks for resurrecting this issue @peterbee.  I have one concern about your proposal:
[code]
^- this tactic means that the wrapped component must comprehend a prop called `featureFlags`.  That's undesirable because it means we can't take an existing feature, wrap it in the HOC (with no other changes), and see a different flagged outcome.  Looking at @threehams's proposal via recompose, we do get

[2018-06-06 15:52] jacobmoretti commented on #60
The `identify` functionality has been added with the latest release: https://github.com/TrueCar/react-launch-darkly/releases/tag/v1.4.0. Closing this issue now.

[2018-06-06 15:52] #60 closed

[2018-06-10 15:08] peterbee commented on #64
We haven’t made use of the HOC yet, so unfortunately I don’t have any feedback on that.

The `changeSubscribe` prop sounds like a fine idea!

[2018-06-29 20:02] shankurmahajan opened #68 "Cannot connect to launchdarkly while using this library"
I keep getting this message on connecting to launchdarkly via react-launch-darkly. I am using the correct client key and user key is just email. May I know where I am going wrong.

![image](https://user-images.githubusercontent.com/12533958/42112307-fabd21dc-7bac-11e8-92f7-b6bcfdae97ac.png)

This is the code I am using
[code]

[2018-06-29 21:39] shankurmahajan commented on #68
@jacobmoretti please look into it

[2018-06-29 22:07] shankurmahajan commented on #68
@sethbattin tagging

[2018-06-29 22:18] shankurmahajan commented on #68
tagging @threehams @bearMountain

[2018-06-30 02:29] sethbattin commented on #68
@shankurmahajan, I think the error message you are seeing describes the problem, which is that `this.context` is undefined.  May I ask you what version of react you are using?  Also can you describe the component hierarchy immediately surrounding your usage of `<FeatureFlag>`?  Obviously that component needs to reside within the `<LaunchDarkly>` wrapper, so please confirm that just to be thorough.

[2018-06-30 02:34] sethbattin commented on #68
Hm, a quick look at the docs means my theory is certainly wrong: https://reactjs.org/docs/context.html#legacy-api

So that can't (shouldn't) be the problem.

I guess, all the more reason to describe your usage in more detail.

[2018-07-02 14:17] sethbattin commented on #68
Ah, so it looks like you missed this precondition:

It looks like you've appended `LaunchDarkly` as a sibling of the entirety of your application.  That means that the rest of your app has no access to it.  It needs to be a parent of usages of `FeatureFlag`; the same pattern as `Provider`, `ConnectedRouter`, and `MuiThemeProvider`.  That is necessary for the subscribe/broadcast mechanism to work.

[2018-07-16 20:55] tech-gal commented on #31
was anyone able to make jest.mock work with the FeatureFlag

[2018-07-16 21:03] tech-gal opened #69 "unable to mock <FeatureFlag> with jest"
I have component as specified below. I am unable to unit test the code within the FeatureFlag tag using jest.mock . My intent is to mock true/false response similar to LaunchDarkly and be able to test and get coverage on "renderFeatureCallback" and "renderDefaultCallback".

[code]

[2018-07-16 21:06] jacobmoretti commented on #31
@tech-gal I posted this above but this should work:
[code]

[2018-07-16 22:00] jacobmoretti commented on #69
@tech-gal Are you trying to test that the proper callbacks are called depending on the value of the feature flag? If so, I wouldn't really recommend testing that mechanism as its covered by this library. If you really want to test the full-stack of operations, LaunchDarkly service -> react-launch-darkly -> your app, I'd recommend an integration level test for that.

Otherwise if you're just trying

[2018-07-18 16:24] jacobmoretti commented on #68
@shankurmahajan Did @sethbattin comments resolve your issue?

[2018-07-19 09:11] pixelstew opened #70 "Flag always evaluates as false"
This is odd and I have logged a ticket with LD too.
I have implemented a basic flag to test the lib out.

[code]
The debugger in LD registers the flag when I navigate to the view it sits in. However despite it registering the correct flag and the correct user id - it always evaluates as false for the user (despite the flag being set to eval true for my user id, all checked and checked again). I ha

[2018-07-19 11:32] #70 closed

[2018-07-19 17:58] jacobmoretti commented on #70
@pixelstew Noticed you closed this but did you find a solution?

[2018-07-19 18:42] pixelstew commented on #70
Yeah, I didn’t have full write access so hadn’t noticed the flag didn’t
have the ‘use JavaScript sdk’ option checked. Once I had the admin account,
sorted it in 10 seconds.

One of those silly ones I’m afraid.

Thanks for getting back
On Thu, 19 Jul 2018 at 18:58, Jacob Moretti <notifications@github.com>
wrote:

[2018-07-19 18:59] jacobmoretti commented on #70
Ahh no worries, we had the same issue here at TrueCar when we first started using LD. It was really easy to overlook that little checkbox.

[2018-09-10 06:19] georgeciubotaru opened #71 "Replace React-Broadcast with React Context"

[2018-09-10 06:27] georgeciubotaru commented on #71
I can offer my support to make this happen.

[2018-09-10 19:40] sethbattin commented on #71
I'd say go for it.  My only concern here would be the possibility of users stuck on old versions of React losing out on future updates.  On the other hand, hopefully this library is not the largest problem that those apps face.  Worst case, they could fork an old release and re-apply patches.

Speaking of that tactic, the `react-broadcast` mechanism is confined mostly to the components `LaunchDark

[2018-09-14 15:41] sethbattin commented on #71
implemented by https://github.com/TrueCar/react-launch-darkly/pull/72

[2018-09-21 05:36] janhartmann opened #73 "Bootstrapping flags returns empty on hard reload"
First of all, thanks for this great integration

I am in a situation where I do a _hard reload_ of a page with has a React Router `FeatureFlag`, the `getAllFeatureFlags` returns an empty object and therefore not rendering the `renderFeatureCallback`. After debugging this the `userKey` is set correctly on the `getAllFeatureFlags` request, but the `FeatureFlag` returns the `renderDefaultCallback` re

[2018-09-21 06:12] janhartmann commented on #73
Holy. I got it working, the issue was updating the `bootstrap` state prop and not a `flags` state prop. So changing to:

[code]

[code]

And fetch like:

[code]

Guess I was updating a nested prop and not triggering an update.

[2018-09-21 06:12] #73 closed

[2018-09-21 23:07] andrewdushane opened #74 "Add .prettierrc and commit hook, run Prettier over codebase"

[2018-09-22 01:25] #71 closed, assigned to nobody

[2018-09-24 16:33] andrewdushane opened #76 "Better multivariate flag support"
FeatureFlag is optimized for boolean flags. We should take out the need to declare the default case twice when using multivariate flags.

[2018-09-24 16:55] jacobmoretti commented on #76
👍 I'll add that historically, multivariate flags were not a thing when we first created this. So it definitely was added in without much consideration to treating it as a first-class citizen.

[2018-09-24 23:19] jacobmoretti commented on #69
Closing issue for lack of activity.

[2018-09-24 23:19] #69 closed

[2018-09-24 23:19] jacobmoretti commented on #68
Closing issue for lack of activity.

[2018-09-24 23:19] #68 closed

[2018-10-02 18:58] hartzis opened #81 "update ldclient-js version"
thoughts on bumping the `ldclient-js` so we get all the bug fixes and improvements?

It is currently at [2.7.1](https://github.com/launchdarkly/js-client/releases).

The [major changes in 2.0.0](https://github.com/launchdarkly/js-client/releases/tag/2.0.0) don't look too upsetting.

[2018-10-02 23:02] sethbattin commented on #81
Certainly.  Another major version release for us.

I'd be curious if we could apply a peer dependency here, so that we don't have to care which version is available.  Those release notes seem centered on analytics, which our lib doesn't care about (I'm 90% certain about that, anyway).  So if some heavy user of LD wants our lib, but doesn't want to edit their own usage...maybe that matters.

Though

[2018-10-02 23:15] hartzis commented on #81
Nice, yeah was thinking peer dep too. and/or maybe a way to supply the LD client object to `react-launch-darkly` so the `ldclient-js` could be dynamically loaded client side too?

[2018-10-02 23:45] sethbattin commented on #81
Dynamic loading sounds a little risky in terms of performance.  Adding extra ms ahead of flag rendering could be an unwanted effect.

I waffled a lot above, but i think an upgrade without extra complexity would be fine.  Our usage numbers are not yet so huge that we have to cater to perfect backwards compatibility.  If it ever grows, we can release _another_ major version bump to become ambidextro

[2018-10-03 03:32] hartzis commented on #81
let me just say what ya'll have created here is amazing! Does a PR to introduce `ldclient-js` as a peer dep with `*` or `^1.1.12 || ^2.0.0`?

I am looking to use this, or at least base our implementation off of it. We're using SSR and would be hydrating the flags with the `ldclient-node` and that's why I think we'd like to dynamically load the `ldclient-js` since the flags would already be rendere

[2018-10-03 18:56] hartzis commented on #81
@jacobmoretti thank you for the awesome feedback. For you SSR and hydration approach are you using `allFlagsState` in the node-sdk: https://docs.launchdarkly.com/v2.0/docs/node-sdk-reference#section-all-flags ? or are you somehow calling `variation` only when SSR'ing a page/route that has a flag needed?

[2018-10-03 19:52] jacobmoretti commented on #81
@hartzis Yes, we're using the `allFlagsState` from their server client. Only difference is we're using LaunchDarkly's ruby client. Typically in our app, we only allow SSR of feature flags where absolutely needed. Mostly so we can continue to cache where applicable.

[2018-10-09 20:55] tech-gal commented on #31
closing the loop. here is a sample code
`    it('isAdmin feature flag returns false', ()  => {
        let props = Object.assign({}, defaultProps);
        props.isEditable = true;
        props.btnName = 'Approve';
        props.revision = revisionParam;
        props.revision.state='pending';
        props.featureFlag = 'enable-preprod-approval';
        const wrapper = setup(props);
        con

[2018-10-12 21:27] msied opened #82 "identify method results in "Maximum call stack size exceeded" error in safari"
![screen shot 2018-10-12 at 2 19 00 pm](https://user-images.githubusercontent.com/994683/46894566-ce01b700-ce29-11e8-97ad-a8c9e1f8a716.png)
(Note, the line numbers here may be slightly off due to added `console.log` statements used to verify cause during execution)

To repro, utilize the `identify` function from utils.js and check console in safari. No such error when `identify` is not called, and

[2018-10-15 17:17] #82 closed

[2018-10-24 13:59] HHogg opened #85 "Children render callback"
Hi, would you be open to a PR that allows the render callback to be passed in as the `children` prop? This would allow people to keep the render logic together inside the render function.

The API for boolean, I imagine it being like is something like...

[code]

And this would also work for multivariant flags too...

[code]

As FeatureFlag doesn't support any children at the moment, then it would

[2018-10-24 18:16] sethbattin commented on #85
The proposal sounds fine, and the syntax change is definitely preferable.

I'm a little bit skeptical of being able to implement it with perfect back-compat.  But no need to speculate; we might as well make the attempt.  I think I would still lean toward calling it a major version number just to be slightly safer.  It might simplify things to not attempt to keep it compatible, and just warn profus

[2018-10-24 20:12] HHogg commented on #85
Thanks for the feedback @sethbattin, I had not thought about the case before initial flags had been received. Is this what the [`checkFeatureFlagComplete`](https://github.com/TrueCar/react-launch-darkly/blob/master/src/components/FeatureFlagRenderer.js#L92) flag is for inside `FeatureFlagRenderer`?

If so, perhaps we can pass that down also, something like.

[code]

[2018-10-24 20:17] andrewdushane commented on #85
I like the idea of this API, but it sounds like the existing API and a
single children/render prop would need to be mutually exclusive. This could
cause confusion, even if we attempt to document it.

On Wed, Oct 24, 2018 at 4:12 PM Harrison Hogg <notifications@github.com>
wrote:

[2018-10-29 21:46] HHogg commented on #85
That's understandable @andrewdushane, trying to provide 2 completely different ways to use the component does sound very messy. The reasons I prefer this, is that that it feels like a more familiar pattern, similar to other behavioural components like the new context API and React Router.

I'm happy to submit a PR that implements this alongside or instead of the existing API, or just create my own

[2019-01-18 16:14] bostmic opened #87 "SSR = Server Side Rendering"
Documentation does not indicate SSR stands for react's server side rendering.  It would be helpful if the documentation defined the definition.

[2019-01-21 15:58] Kamahl19 opened #89 "Default export is deprecated - causes warning"
`[LaunchDarkly] "default export" is deprecated, please use "named LDClient export"`

[2019-02-01 20:31] jamesmosier commented on #89
The fix for this is to change [this line](https://github.com/TrueCar/react-launch-darkly/blob/master/src/lib/utils.js#L1) to `import * as launchDarklyBrowser from "ldclient-js";`. Once that is done the tests will need fixed (I believe the mocks get messed up is the reason why).

Also just for reference, [the LaunchDarkly team said](https://github.com/launchdarkly/js-client/issues/111) in future `l

[2019-03-12 07:39] janhartmann commented on #89
Any updates on this?

[2019-03-12 18:20] jamesmosier commented on #89
@janhartmann I haven't had time to work on it, so it is up for grabs as far as I know!

[2019-04-17 16:58] jacobmoretti commented on #89
Fixed as part of https://github.com/TrueCar/react-launch-darkly/pull/91. Release patch version coming up!

[2019-04-17 17:12] jacobmoretti commented on #89
Released as part of 3.1.1: https://github.com/TrueCar/react-launch-darkly/releases/tag/v3.1.1

[2019-04-17 17:12] #89 closed

[2019-04-24 19:46] sethbattin opened #96 "Github security warning from package `merge`"
Github is currently showing a security warning.  although it's rooted in a dev dependency via `jest`, we could upgrade the related libraries.

![image](https://user-images.githubusercontent.com/1627760/56688986-a96f7d00-669f-11e9-9e7f-ada68a48663a.png)

I attempted to update jest directly, and `npm run test` ceased working due to a problem in `babel-preset-react`.  That's where i left off in tryin

[2019-05-09 00:52] samuelcastro opened #97 "Is there a way to create LD users?"
When doing:
[code]
Is there a way to create that user on LD?

[2019-05-09 01:41] samuelcastro commented on #97
nvm, my mistake.

[2019-05-09 01:41] #97 closed

[2019-05-09 17:59] sethbattin commented on #97
Self-answered, but for posterity:

https://docs.launchdarkly.com/docs/targeting-users

[2019-05-21 09:04] EwanValentine opened #98 "My feature flag doesn't display whether it's toggled on or off"
I'm displaying/hiding menu items in a React app based on LD flags, each menu item is as follows:

[code]

The correct flag is passed on, but that menu item doesn't display. I have 'client enabled' for that flag, I have tried enabling it for all users, I've tried disabling targeting and defaulting it to display true. It just doesn't seem to show up whatever I set it to. My set-up, I have the follow

[2019-05-21 17:09] sethbattin commented on #98
The only useful question i have is whether you have flags working anywhere in your app, or if they're only failing at this one point.  I'm inferring that they're not working anywhere.  About that, nothing jumps out at me as immediately in error in your code.  I'm afraid I can only comment on how I would go about debugging.  Apologies if you meant to say you had already done this.

I would probably

[2019-12-18 18:16] dmattia opened #107 "Add option to enable/disable overrides from query params"
Overrides are great for testing purposes (and our dev/staging envs), but I would like to disable query param overriding in our production build.

Adding this as a param on `<LaunchDarkly allowOverrides={false}>` would be nice.

[2019-12-18 20:14] sethbattin commented on #107
That sounds great, please do.

I think we want to leave the default behavior as-is so that we don't have to release a major version; so please make the implementation be opt-in.

Also we don't have a preexisting configuration reader in the library.  Even if we did, that might only help server-rendering folks.  So maybe the best idea is to make it a prop with default at the top-level <LaunchDarkly

[2020-03-06 12:48] rrivem opened #109 "Expose ldClientWrapper to subscribe to the same ldClient events"
We're using the `FeatureFlag` to render components based on LD flags and works sharp.

But now we need to know if we need to avoid rendering a whole tree based on flags and other conditions.

We tried using `ldclient-js` directly, but the `initialize` seems to be affecting the `FeatureFlag` rendered items we have already and not being updated when a flag changes.

We think we could leverage this b

[2020-03-19 13:52] AlinaDogariu opened #110 "Type definitions for typescript"
There are no type definitions for typescript for this project that I could find. Would it be ok to add some?

If you're ok with it, I can start working on it

[2020-03-19 14:30] maxhilliard commented on #110
I'm also keen to contribute to this if it goes ahead ☝️

[2020-03-19 15:33] sethbattin commented on #110
Absolutely, please do.  If you're feeling ambitious, convert 100% to typescript and write flow definitions instead :yolo:

Truecar's main react project is currently in incremental adoption of typescript into our otherwise flowjs-heavy code.  So we can certainly help test the patch whenever it is ready.  Other packages' typescript definitions pass linting and other CI steps, so I'm optimistic. :)

[2020-03-26 03:51] Dnguye92 opened #111 "XMLHttpRequest failure: synchronous XHR request during page dismissal"
Chrome no longer allows synchronous XHR calls thus throwing the error above.

One of the possible workarounds mentioned in [this](https://github.com/launchdarkly/js-client-sdk/issues/147) issue is:
To reduce—but not eliminate—the chance of these warnings happening, you can set a lower `flushInterval` in your configuration, such as 1000 (one second). That will make it somewhat less likely that ther

[2020-03-27 03:11] sethbattin commented on #111
Looking at [this comment](https://github.com/launchdarkly/js-client-sdk/issues/147#issuecomment-483897655) on launchdarkly's issue, it seems like they have already resolved the problem in their library.  We could update our usage right here https://github.com/TrueCar/react-launch-darkly/blob/master/package.json#L46

Is that a thing you're willing to take care of, @Dnguye92 ?

[2020-03-27 03:41] sethbattin commented on #109
Hi @rrivem, just to clarify the issue you're having: you need to know the value of a flag for a major section of your component tree, and the delay in loading the flags is a problem because it briefly renders the wrong content?

If so, perhaps you might benefit from the [server-side rendering](https://github.com/TrueCar/react-launch-darkly#ssr-support) section of our readme.  It describes how to i

[2020-03-27 03:44] sethbattin commented on #98
Closing due to lack of new info.

[2020-03-27 03:44] #98 closed

[2020-03-27 04:07] sethbattin commented on #64
Closing due to inactivity

[2020-03-27 04:07] #64 closed

[2020-03-28 19:24] Dnguye92 commented on #111
@sethbattin sure thing!

[2020-03-30 18:55] sethbattin commented on #111
@Dnguye92 so there's good news and bad news.
The good news is, although I botched the automatic npm release by tagging without updating the version in the package file, there is now a release you can try on the releases page https://github.com/TrueCar/react-launch-darkly/releases/tag/v4.1.0

The bad news is that is exercise was probably wasted effort :(  `ldclient-js` is actually a peer dependency

[2020-05-11 09:57] jzaefferer commented on #111
@sethbattin looks like `ldclient-js` is deprecated and hasn't been updated in over a year. The replacement is `launchdarkly-js-client-sdk`. I could install that, but I don't think that would fulfill the peer-dependency of `react-launch-darkly`.

Maybe update to 4.2.0 with a proper npm release, replacing `ldclient-js` with `launchdarkly-js-client-sdk`?

[2020-05-11 17:32] sethbattin commented on #111
@jzaefferer I like that idea a lot.  I think that in terms of how annoying it would be to juggle a switch from one peer dep to another, we should probably call it a major version number increase.  On the plus side, we have another open PR (typescript conversion) that also warrants a major version.  `5.0.0` could get two whole changes in one release! 🙃

Would you mind typing up another issue with t

[2020-05-12 03:49] #110 closed

[2020-05-12 19:05] sethbattin commented on #111
@jzaefferer I went ahead with the patch already in #117; i do intend to deploy it among other changes in a 5.0 branch.  Thank you again for the great suggestion!

Between the peer dep workaround and the side topic of releasing these changes, I'm going to close this one.

[2020-05-12 19:05] #111 closed

[2020-05-12 19:32] #96 closed

[2020-07-31 22:03] Brianzchen opened #119 "Support for hooks?"
Any plans to support hooks so we can simplify our component tree or create easier composition of multiple feature flags? This feature has been around for more than a year, so it would be really great to support the modern standard.

Support would have to be bumped from React `v16.3.0` to `v16.8.0`.

Suggested api
[code]

Usage
[code]

[2020-08-03 15:03] sethbattin commented on #119
Hi @Brianzchen - certainly that would be a welcome addition!  If you are willing to submit a patch, we could possibly roll it into the (growing) list of additions for the next major version number.  We are using the recentmost incarnation of react context, so creating the hookish `useContext` form would be straightforward.

Just for note-taking purposes, here's the list of things we'd need in addi

[2020-08-06 06:08] danielo515 commented on #69
In my case what I want is just to avoid calls to the backend during testing and not having to wrap my tests with the launch-darkly provider. Is there any example of how to do this in jest?

[2020-08-07 20:36] sethbattin commented on #69
@danielo515 Certainly.  You could configure your test boilerplate to disable updates from the service, and manually specify all your flag values in `bootstrap`.  It's almost the same use case as the SSR section of our docs: https://github.com/TrueCar/react-launch-darkly#disable-launchdarkly-js-client-initialization-preventing-xhrs

If your test code doesn't permit that, then jest definitely allows

[2020-08-12 09:21] danielo515 commented on #69
Thanks for your answer @sethbattin.
In my case seems that some code already adds the provider to the tests, so totally overriding it was not an option.
What I ended doing was to just use the normal jest semantics for mocking modules and unmock them where having the real implementation was critical.
Sadly we're using an old version of the library, so following the docs for SSR is troublesome.
Thank